<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="adminMapper">
<resultMap type="MemberStatus" id="memberStatusResultMap">
	<result property="statusY" column="STATUS_Y"/>
	<result property="statusN" column="STATUS_N"/>
</resultMap>

<resultMap type="TotalCount" id="totalCountResultMap">
	<result property="plantCount" column="PLANT_COUNT"/>
	<result property="memberCount" column="MEMBER_COUNT"/>
	<result property="boardCount" column="BOARD_COUNT"/>
	<result property="qnaCount" column="QNA_COUNT"/>
</resultMap>

<select id="selectMemberStatus" resultMap="memberStatusResultMap">
	SELECT COUNT(CASE WHEN MEMBER_STATUS = 'Y' THEN 'Y' END) AS STATUS_Y,COUNT(CASE WHEN MEMBER_STATUS = 'N' THEN 'N' END) AS STATUS_N FROM MEMBER
</select>

<update id="updateMemberStatus" parameterType="Map">
	UPDATE MEMBER SET
	<if test="status.toString() == 'statusY'">
	MEMBER_STATUS = 'Y'
	</if>
	<if test="status.toString() == 'statusN'">
	MEMBER_STATUS = 'N'
	</if>
	WHERE MEMBER_NO IN (${checkNo})
</update>

<select id="selectPlantCount" resultType="_int">
	SELECT COUNT(*)PLANT_COUNT FROM (SELECT ROW_NUMBER() OVER(PARTITION BY PLANT_NO ORDER BY PLANTFILE_NO) AS RNUM, PLANT_NO,PLANT_NAME,PLANT_ENGNAME,PLANT_DETAIL,PLANT_KIND,PLANT_PROPERTY,PLANT_LEAF,PLANT_DATE,PLANT_COUNT,PLANT_POINT,PLANTFILE_NAME,PLANTFILE_RENAME,PLANT_STATUS FROM PLANT JOIN PLANTFILE USING(PLANT_NO)) WHERE RNUM = 1 AND PLANT_STATUS = 'Y' ORDER BY PLANT_NO DESC
</select>
<select id="selectMemberCount" resultType="_int">
	SELECT COUNT(*)MEMBER_COUNT FROM MEMBER WHERE MEMBER_STATUS = 'Y'
</select>
<select id="selectBoardCount" resultType="_int">
	SELECT (SELECT COUNT(*) FROM BOAST WHERE BOAST_STATUS = 'Y')+(SELECT COUNT(*) FROM CLINIC WHERE CLINIC_STATUS = 'Y')+(SELECT COUNT(*) FROM CURIOSITY WHERE CURIOSITY_STATUS = 'Y')BOARD_COUNT FROM DUAL
</select>
<select id="selectQnaCount" resultType="_int">
	SELECT COUNT(*)QNA_COUNT FROM QNA LEFT JOIN ANS USING(QNA_NO) WHERE QNA_STATUS='Y' AND ANS_NO IS NULL
</select>
	
</mapper>