<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="memberMapper" >
 <resultMap type="Member" id="memberResultMap">
	 <id property="memberNo" column="MEMBER_NO"></id>
	 <result property="memberId" column="MEMBER_ID"/>
	 <result property="memberPw" column="MEMBER_PW"/>
	 <result property="memberNick" column="MEMBER_NICK"/>
	 <result property="memberName" column="MEMBER_NAME"/>
	 <result property="memberPhone" column="MEMBER_PHONE"/>
	 <result property="memberMail" column="MEMBER_MAIL"/>
	 <result property="memberPhoto" column="MEMBER_PHOTO"/>
	 <result property="memberJoin" column="MEMBER_JOIN"/>
	 <result property="memberOut" column="MEMBER_OUT"/>
	 <result property="memberStatus" column="MEMBER_STATUS"/>
	 <result property="memberIntro" column="MEMBER_INTRO"/>
	 <result property="memberFileRename" column="MEMBER_FILERENAME"/>
 </resultMap>
 <select id="loginMember" parameterType="Member" resultMap="memberResultMap">
 SELECT * FROM MEMBER WHERE MEMBER_ID = #{memberId} AND MEMBER_PW = #{memberPw} AND MEMBER_STATUS = 'Y'
 </select>
 
 <select id="checkIdDup" resultType="_int">
 	SELECT COUNT(*) FROM MEMBER WHERE MEMBER_ID = #{memberId}
 </select>
 
 <select id="checkNickDup" resultType="_int">
 	SELECT COUNT(*) FROM MEMBER WHERE MEMBER_NICK = #{memberNick}
 </select>
 
 <insert id="insertMember" parameterType="Member">
 	INSERT INTO MEMBER(MEMBER_NO, MEMBER_ID, MEMBER_PW, MEMBER_NICK, MEMBER_NAME, MEMBER_MAIL, MEMBER_JOIN, MEMBER_OUT, MEMBER_STATUS) VALUES(SEQ_MEMBER.NEXTVAL, #{memberId}, #{memberPw}, #{memberNick}, #{memberName}, #{memberMail}, SYSDATE, NULL, 'Y')
 </insert>
 
 <update id="updateMember" parameterType="Member">
		UPDATE MEMBER
		SET MEMBER_NICK = #{memberNick}, MEMBER_MAIL = #{memberMail}, MEMBER_FILERENAME = #{memberFileRename}, MEMBER_INTRO = #{memberIntro}, MEMBER_PHOTO = #{memberPhoto}
		WHERE MEMBER_ID = #{memberId}
 </update>
 
 <update id="deleteMember" parameterType="Member">
		UPDATE  MEMBER SET MEMBER_STATUS = 'N', MEMBER_OUT = SYSDATE WHERE MEMBER_ID = #{memberId }
 </update>
 
  <select id="selectMember" resultMap="memberResultMap">
 	SELECT * FROM MEMBER WHERE MEMBER_NO = #{memberNo} AND MEMBER_STATUS = 'Y'
 </select>
 <select id="selectAll" resultMap="memberResultMap">
 	SELECT * FROM MEMBER ORDER BY MEMBER_STATUS DESC, MEMBER_NO DESC
 </select>
 
 <select id="checkMemberPw" resultMap="memberResultMap">
 	SELECT * FROM MEMBER WHERE MEMBER_ID = #{memberId}
 </select>
 
 <select id="checkMember" resultMap="memberResultMap">
 	SELECT * FROM MEMBER WHERE MEMBER_STATUS = 'Y' AND (MEMBER_NAME = #{memberName} AND MEMBER_MAIL = #{memberMail})  OR (MEMBER_ID = #{memberId} AND MEMBER_MAIL = #{memberMail}) AND MEMBER_STATUS = 'Y'
 </select>
 
 <update id="updatePw" parameterType="Member">
 	UPDATE MEMBER SET MEMBER_PW = #{memberPw} WHERE MEMBER_STATUS = 'Y' AND MEMBER_ID = #{memberId}
 </update>
 
 </mapper>