<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plantMapper">
	<resultMap type="Plant" id="plantResultMap">
		<id property="plantNo" column="PLANT_NO"/>
		<result property="plantName" column="PLANT_NAME"/>
		<result property="plantEngname" column="PLANT_ENGNAME"/>
		<result property="plantPlantae" column="PLANT_PLANTAE"/>
		<result property="plantKind" column="PLANT_KIND"/>
		<result property="plantProperty" column="PLANT_PROPERTY"/>
		<result property="plantLeaf" column="PLANT_LEAF"/>
		<result property="plantDetail" column="PLANT_DETAIL"/>
		<result property="plantWater" column="PLANT_WATER"/>
		<result property="plantEnvi" column="PLANT_ENVI"/>
		<result property="plantHumidity" column="PLANT_HUMIDITY"/>
		<result property="plantDate" column="PLANT_DATE"/>
		<result property="plantCount" column="PLANT_COUNT"/>
		<result property="plantPoint" column="PLANT_POINT"/>
		<result property="plantFileName" column="PLANTFILE_NAME"/>
		<result property="plantFileRename" column="PLANTFILE_RENAME"/>
		<result property="plantStatus" column="PLANT_STATUS"/>
	</resultMap>
	
	<resultMap type="PlantInfo" id="plantInfoResultMap">
		<id property="plantinfoNo" column="PLANTINFO_NO"/>
		<result property="plantNo" column="PLANT_NO"/>
		<result property="piLightInfo" column="PI_LIGHT_INFO"/>
		<result property="piLightContents" column="PI_LIGHT_CONTENTS"/>
		<result property="piTempInfo" column="PI_TEMP_INFO"/>
		<result property="piTempContents" column="PI_TEMP_CONTENTS"/>
		<result property="piHumidityInfo" column="PI_HUMIDITY_INFO"/>
		<result property="piHumidityContents" column="PI_HUMIDITY_CONTENTS"/>
		<result property="piWaterInfo" column="PI_WATER_INFO"/>
		<result property="piWaterContents" column="PI_WATER_CONTENTS"/>
		<result property="piEarthInfo" column="PI_EARTH_INFO"/>
		<result property="piEarthContents" column="PI_EARTH_CONTENTS"/>
		<result property="piBunting" column="PI_BUNTING"/>
	</resultMap>
	
	<resultMap type="PlantFile" id="plantFileResultMap">
		<id property="plantFileNo" column="PLANTFILE_NO"/>
		<result property="plantFileName" column="PLANTFILE_NAME"/>
		<result property="plantFilePath" column="PLANTFILE_PATH"/>
		<result property="plantFileSize" column="PLANTFILE_SIZE"/>
		<result property="plantFileDate" column="PLANTFILE_DATE"/>
		<result property="plantNo" column="PLANT_NO"/>
		<result property="plantFileRename" column="PLANTFILE_RENAME"/>
	</resultMap>
	
	<select id="plantNo" resultType="_int" >
		SELECT MAX(PLANT_NO) FROM PLANT ORDER BY PLANT_NO DESC
	</select>
	
	<select id="selectAll" parameterType="Plant" resultMap="plantResultMap">
		SELECT PLANT_NO,PLANT_NAME,PLANT_ENGNAME,PLANT_DETAIL,PLANT_KIND,PLANT_PROPERTY,PLANT_LEAF,PLANT_DATE,PLANT_COUNT,PLANT_POINT,PLANTFILE_NAME,PLANTFILE_RENAME,PLANT_STATUS FROM (SELECT ROW_NUMBER() OVER(PARTITION BY PLANT_NO ORDER BY PLANTFILE_NO) AS RNUM, PLANT_NO,PLANT_NAME,PLANT_ENGNAME,PLANT_DETAIL,PLANT_KIND,PLANT_PROPERTY,PLANT_LEAF,PLANT_DATE,PLANT_COUNT,PLANT_POINT,PLANTFILE_NAME,PLANTFILE_RENAME,PLANT_STATUS FROM PLANT JOIN PLANTFILE USING(PLANT_NO)) WHERE RNUM = 1 AND PLANT_STATUS = 'Y' ORDER BY PLANT_NO DESC
	</select>
	
	<select id="selectPlant" parameterType="Plant" resultMap="plantResultMap">
		SELECT * FROM PLANT WHERE PLANT_NO = #{plantNo}
	</select>
	
	<select id="selectPlantInfo" parameterType="PlantInfo" resultMap="plantInfoResultMap">
		SELECT * FROM PLANTINFO WHERE PLANT_NO = #{plantNo}
	</select>
	
	<select id="selectFileList" parameterType="PlantFile" resultMap="plantFileResultMap">
		SELECT * FROM PLANTFILE WHERE PLANT_NO = #{plantNo}
	</select>
	
	<select id="selectSearch" parameterType="String" resultMap="plantResultMap">
		SELECT PLANT_NO,PLANT_NAME,PLANT_ENGNAME,PLANT_DETAIL,PLANT_KIND,PLANT_PROPERTY,PLANT_LEAF,PLANT_DATE,PLANT_COUNT,PLANT_POINT,PLANTFILE_NAME,PLANTFILE_RENAME,PLANT_STATUS FROM (SELECT ROW_NUMBER() OVER(PARTITION BY PLANT_NO ORDER BY PLANTFILE_NO) AS RNUM, PLANT_NO,PLANT_NAME,PLANT_ENGNAME,PLANT_DETAIL,PLANT_KIND,PLANT_PROPERTY,PLANT_LEAF,PLANT_DATE,PLANT_COUNT,PLANT_POINT,PLANTFILE_NAME,PLANTFILE_RENAME,PLANT_STATUS FROM PLANT JOIN PLANTFILE USING(PLANT_NO)) WHERE RNUM = 1 AND PLANT_STATUS = 'Y' AND (PLANT_NAME LIKE '%'||#{search}||'%' OR PLANT_ENGNAME LIKE '%'||#{search}||'%') ORDER BY PLANT_NO DESC
	</select>
	
	<select id="selectChoiceList" resultMap="plantResultMap">
	 	SELECT PLANT_NO,PLANT_NAME,PLANT_ENGNAME,PLANT_DETAIL,PLANT_KIND,PLANT_PROPERTY,PLANT_LEAF,PLANT_DATE,PLANT_COUNT,PLANT_POINT,PLANTFILE_NAME,PLANTFILE_RENAME,PLANT_STATUS FROM (SELECT ROW_NUMBER() OVER(PARTITION BY PLANT_NO ORDER BY PLANTFILE_NO) AS RNUM, PLANT_NO,PLANT_NAME,PLANT_ENGNAME,PLANT_DETAIL,PLANT_KIND,PLANT_PROPERTY,PLANT_LEAF,PLANT_DATE,PLANT_COUNT,PLANT_POINT,PLANTFILE_NAME,PLANTFILE_RENAME,PLANT_STATUS FROM PLANT JOIN PLANTFILE USING(PLANT_NO)) WHERE RNUM = 1 AND PLANT_STATUS = 'Y' AND (PLANT_KIND IN (${plantKind}) AND PLANT_PROPERTY IN (${plantProperty}) AND PLANT_LEAF IN (${plantLeaf})) ORDER BY PLANT_NO DESC
	</select>
	
	<select id="selectMemberCompanion" resultMap="plantResultMap">
		SELECT PLANT_NO,PLANT_NAME FROM (SELECT ROW_NUMBER() OVER(PARTITION BY PLANT_NO ORDER BY PLANTFILE_NO) AS RNUM, PLANT_NO,PLANT_NAME,PLANT_STATUS FROM PLANT JOIN PLANTFILE USING(PLANT_NO))JOIN COMPANION USING (PLANT_NO) WHERE RNUM = 1 AND PLANT_STATUS = 'Y' AND MEMBER_NO = #{memberNo} ORDER BY PLANT_NO DESC
	</select>

	<insert id="insertPlant">
		INSERT INTO PLANT VALUES (SEQ_PLANT.NEXTVAL,#{plantName},#{plantEngname},#{plantPlantae},#{plantKind},#{plantProperty},#{plantLeaf},#{plantDetail},#{plantWater},#{plantEnvi},#{plantHumidity},DEFAULT,DEFAULT,DEFAULT,DEFAULT)
	
	</insert>
	
	<insert id="insertPlantDetail">
		INSERT INTO PLANTINFO VALUES(SEQ_PLANTINFO.NEXTVAL,SEQ_PLANT.CURRVAL,#{piLightInfo},#{piLightContents},#{piTempInfo},#{piTempContents},#{piHumidityInfo},#{piHumidityContents},#{piWaterInfo},#{piWaterContents},#{piEarthInfo},#{piEarthContents},#{piBunting})
	
	</insert>
	
	<insert id="insertPlantFile">
		INSERT INTO PLANTFILE VALUES(SEQ_PLANTFILE.NEXTVAL,#{plantFileName},#{plantFilePath},#{plantFileSize},DEFAULT,#{plantNo},#{plantFileRename})
	</insert>
	
	<update id="updatePlant" parameterType="Plant">
		 UPDATE PLANT SET PLANT_NAME=#{plantName}, PLANT_ENGNAME=#{plantEngname}, PLANT_PLANTAE=#{plantPlantae}, PLANT_KIND=#{plantKind}, PLANT_PROPERTY=#{plantProperty}, PLANT_LEAF=#{plantLeaf}, PLANT_DETAIL=#{plantDetail}, PLANT_WATER=#{plantWater}, PLANT_ENVI=#{plantEnvi}, PLANT_HUMIDITY=#{plantHumidity} WHERE PLANT_NO = #{plantNo} 
	</update>
	
	<update id="updatePlantDetail" parameterType="PlantInfo">
		UPDATE PLANTINFO SET PI_LIGHT_INFO=#{piLightInfo}, PI_LIGHT_CONTENTS=#{piLightContents}, PI_TEMP_INFO=#{piTempInfo}, PI_TEMP_CONTENTS=#{piTempContents}, PI_HUMIDITY_INFO=#{piHumidityInfo}, PI_HUMIDITY_CONTENTS=#{piHumidityContents}, PI_WATER_INFO=#{piWaterInfo}, PI_WATER_CONTENTS=#{piWaterContents}, PI_EARTH_INFO=#{piEarthInfo}, PI_EARTH_CONTENTS=#{piEarthContents}, PI_BUNTING=#{piBunting} WHERE PLANTINFO_NO=#{plantinfoNo} 
	</update>
	
	<update id="deleteAdminPlant" parameterType="String">
		UPDATE PLANT SET PLANT_STATUS = 'N' WHERE PLANT_NO IN (${value})
	</update>
	
	<delete id="deleteFile">
		DELETE FROM PLANTFILE WHERE PLANT_NO = #{plantNo} AND PLANTFILE_NO = #{plantFileNo}
	</delete>
	
	<!-- tag -->
	<select id="selectOneName" parameterType="String" resultType="_int">
		SELECT PLANT_NO FROM (SELECT ROW_NUMBER() OVER(PARTITION BY PLANT_NO ORDER BY PLANTFILE_NO) AS RNUM, PLANT_NO,PLANT_NAME,PLANT_ENGNAME,PLANT_DETAIL,PLANT_KIND,PLANT_PROPERTY,PLANT_LEAF,PLANT_DATE,PLANT_COUNT,PLANT_POINT,PLANTFILE_NAME,PLANTFILE_RENAME,PLANT_STATUS FROM PLANT JOIN PLANTFILE USING(PLANT_NO)) WHERE RNUM = 1 AND PLANT_STATUS = 'Y' AND PLANT_NAME = #{plantName} ORDER BY PLANT_NO DESC 
	</select>
	
	<select id="selectHashList" parameterType="String" resultMap="plantResultMap">
		SELECT PLANT_NO,PLANT_NAME FROM (SELECT ROW_NUMBER() OVER(PARTITION BY PLANT_NO ORDER BY PLANTFILE_NO) AS RNUM, PLANT_NO,PLANT_NAME,PLANT_ENGNAME,PLANT_DETAIL,PLANT_KIND,PLANT_PROPERTY,PLANT_LEAF,PLANT_DATE,PLANT_COUNT,PLANT_POINT,PLANTFILE_NAME,PLANTFILE_RENAME,PLANT_STATUS FROM PLANT JOIN PLANTFILE USING(PLANT_NO)) WHERE RNUM = 1 AND PLANT_STATUS = 'Y' AND PLANT_NAME LIKE #{value}||'%' ORDER BY PLANT_NO DESC
	</select>
	
	<!-- 좋아요 포인트 -->
	<update id="updatePlantPoint" parameterType="Plant">
		 UPDATE PLANT SET PLANT_POINT =#{plantPoint} WHERE PLANT_NO = #{plantNo}
	</update>
	
	<select id="selectAllRank" parameterType="Plant" resultMap="plantResultMap">
		SELECT PLANT_NO,PLANT_NAME,PLANT_ENGNAME,PLANT_PLANTAE,PLANT_KIND,PLANT_PROPERTY,PLANT_LEAF,PLANT_DETAIL,PLANT_WATER,PLANT_ENVI,PLANT_HUMIDITY,PLANT_DATE,PLANT_COUNT,PLANT_POINT ,PLANT_STATUS FROM PLANT ORDER BY PLANT_POINT DESC
	</select>

</mapper>